<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style=" margin-left: 100px; margin-top: 100px;">
<% if @stream -%>
<h1>Edit Stream</h1>
<%= form_tag "/admin/streams/" + @stream.id.to_s, :method => 'PUT' do %>
  <p>
    <strong style="margin-right: 80px;">Name</strong>
    <%= text_field_tag :name, @stream.name %>
  </p>
  <p>
    <strong style="margin-right: 85px;">URL</strong>
    <%= text_field_tag :url,  @stream.url %>
  </p>
  <p>
    <strong style="margin-right: 20px;">Type platform</strong>
    <%= select_tag :type_platform, options_for_select(['twitch','youtube'],@stream.type_platform)  %>
  </p>
  <p>
    <strong  style="margin-right: 80px;">Show</strong>
    <%= check_box_tag("show",@stream.show,@stream.show) %>
    <%#= check_box("show", "accepted", {}, true, false) %>
  </p>
  <%= submit_tag("Save") %>
<% end %>
<button><%= link_to "To all", admin_streams_path %></button>
<% else -%>
  <h1>Stream not found.</h1>
  <button><%= link_to "Go To All", admin_streams_path %></button>
<% end %>
</body>
</html>